We’ve thoroughly reviewed the Amazon dataset's background and are now shifting our focus to a closer analysis of the column review text. We will conduct some characteristics:
1. words
2. characters 
2. punctuation
3. Subject (I)
4. Uppercase letter
5. stop words

In [9]:
import pandas as pd

import string
import nltk

In [10]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/caophuong/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [17]:
from nltk.corpus import stopwords

In [3]:
fake_reviews_df = pd.read_csv('/Users/caophuong/Documents/Y3S1/BT4012/Fake-Reviews-Detection/Dataset/fake reviews dataset.csv')

yelp_df = pd.read_excel('/Users/caophuong/Documents/Y3S1/BT4012/Fake-Reviews-Detection/Dataset/Yelp Labelled Review Dataset with Sentiments and Features.xlsx')

In [4]:
fake_reviews_df

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,1,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,1,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,1,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,1,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,1,Very nice set. Good quality. We have had the s...
...,...,...,...,...
40427,Clothing_Shoes_and_Jewelry_5,4.0,0,I had read some reviews saying that this bra r...
40428,Clothing_Shoes_and_Jewelry_5,5.0,1,I wasn't sure exactly what it would be. It is ...
40429,Clothing_Shoes_and_Jewelry_5,2.0,0,"You can wear the hood by itself, wear it with ..."
40430,Clothing_Shoes_and_Jewelry_5,1.0,1,I liked nothing about this dress. The only rea...
40431,Clothing_Shoes_and_Jewelry_5,5.0,0,I work in the wedding industry and have to wor...

## FAKE REVIEWS

In [4]:
# map label

fake_reviews_df.loc[fake_reviews_df["label"] == "CG", "label"] = 1
fake_reviews_df.loc[fake_reviews_df["label"] == "OR", "label"] = 0

fake_reviews_df.rename(columns={'text_': 'text'}, inplace=True)

fake_reviews_df = fake_reviews_df.drop_duplicates('text')

In [5]:
fake_reviews_df.head()

,category,rating,label,text
0,Home_and_Kitchen_5,5.0,1,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,1,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,1,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,1,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,1,Very nice set. Good quality. We have had the s...

In [18]:
def calculate_metrics(row):
    # Get English stopwords
    stop_words = set(stopwords.words('english'))
    
    text = row['text']
    # Replace punctuation with spaces before splitting
    cleaned_text = ''.join([char if char not in string.punctuation else ' ' for char in text])
    words = [word.lower() for word in cleaned_text.split() if word]  # Convert to lowercase for stopword comparison
    
    # Calculate metrics
    word_count = len(words)
    characters = len(text)
    punctuation = sum(1 for char in text if char in string.punctuation)
    subject_i = sum(1 for word in text.split() if word.lower() == 'i')
    uppercase_letters = sum(1 for char in text if char.isupper())
    stopwords_count = sum(1 for word in words if word in stop_words)
    
    return pd.Series([word_count, characters, punctuation, subject_i, uppercase_letters, stopwords_count],
                    index=['words', 'characters', 'punctuation', 'subject_i', 'uppercase_letters', 'stopwords'])

In [19]:
fake_reviews_df[['words', 'characters', 'punctuation', 'subject_i', 'uppercase_letters', 'stopwords']] = fake_reviews_df.apply(calculate_metrics, axis=1)

In [21]:
fake_reviews_df['text'][0]

'Love this!  Well made, sturdy, and very comfortable.  I love it!Very pretty'

In [20]:
fake_reviews_df.head()

,category,rating,label,text,words,characters,punctuation,subject_i,uppercase_letters,stopwords
0,Home_and_Kitchen_5,5.0,1,"Love this! Well made, sturdy, and very comfor...",13,75,5,1,4,6
1,Home_and_Kitchen_5,5.0,1,"love it, a great upgrade from the original. I...",17,80,3,0,1,10
2,Home_and_Kitchen_5,5.0,1,This pillow saved my back. I love the look and...,14,67,2,1,2,7
3,Home_and_Kitchen_5,1.0,1,"Missing information on how to use it, but it i...",17,81,2,1,2,11
4,Home_and_Kitchen_5,5.0,1,Very nice set. Good quality. We have had the s...,18,85,2,0,3,11

In [22]:
fake_reviews_df.describe()

,rating,words,characters,punctuation,subject_i,uppercase_letters,stopwords
count,40412.000000,40412.000000,40412.000000,40412.000000,40412.000000,40412.000000,40412.000000
mean,4.256409,69.419455,351.365337,10.221617,2.385702,9.785039,37.589726
std,1.144538,71.854454,369.871842,13.248720,3.448892,15.825259,39.327294
min,1.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,21.000000,107.000000,3.000000,0.000000,3.000000,11.000000
50%,5.000000,40.000000,198.000000,6.000000,1.000000,5.000000,21.000000
75%,5.000000,87.000000,439.000000,12.000000,3.000000,11.000000,48.000000
max,5.000000,524.000000,2827.000000,347.000000,58.000000,805.000000,214.000000

In [23]:
label_comparison = fake_reviews_df.groupby('label')[['words', 'characters', 'punctuation', 'subject_i', 'uppercase_letters', 'stopwords']].mean()

In [24]:
print("\nComparison between correct (0) and fake (1) reviews:\n", label_comparison)

Comparison between correct (0) and fake (1) reviews:
            words  characters  punctuation  subject_i  uppercase_letters  \
label
0      75.580213  396.973337    11.811724   1.960030          11.012614
1      63.253206  305.716691     8.630094   2.811754           8.556370

       stopwords
label
0      38.370418
1      36.808338

## YELP DATASET

In [25]:
yelp_df.rename(columns={'Spam(1) and Not Spam(0)': 'label'}, inplace=True)

In [26]:
yelp_df.head()

,User_id,Product_id,Rating,Date,Review,label,Sentiment,Features
0,923,0,3,2014-01-30,The food at snack is a selection of popular Gr...,1,Positive,"['appetizer tray', 'greek salad', 'main courses']"
1,924,0,3,2011-05-05,This little place in Soho is wonderful. I had ...,1,Positive,"['little place', 'soho', 'lamb sandwich', 'soh..."
2,925,0,4,2011-12-30,ordered lunch for 15 from Snack last Friday. Ã...,1,Positive,"['snack', 'regular company lunch list']"
3,926,0,4,2012-10-04,This is a beautiful quaint little restaurant o...,1,Positive,"['beautiful quaint', 'pretty street', 'great p..."
4,927,0,4,2014-02-06,Snack is great place for a Ã‚Â casual sit down...,1,Positive,"['snack', 'great place', 'Ã¢ casual', 'cold wi..."

In [31]:
def calculate_metrics(row):
    # Get English stopwords
    stop_words = set(stopwords.words('english'))
    
    # Get the review text from the row
    text = str(row['Review'])  # Convert to string to ensure text operations work
    
    # Replace punctuation with spaces before splitting
    cleaned_text = ' '.join(char if char not in string.punctuation else ' ' for char in text)
    words = [word.lower() for word in cleaned_text.split() if word]  # Convert to lowercase for stopword comparison
    
    # Calculate metrics
    word_count = len(words)
    characters = len(text)
    punctuation = sum(1 for char in text if char in string.punctuation)
    subject_1 = sum(1 for word in text.split() if word.lower() == 'i')
    uppercase_letters = sum(1 for char in text if char.isupper())
    stopwords_count = sum(1 for word in words if word in stop_words)
    
    return pd.Series([word_count, characters, punctuation, subject_1, uppercase_letters, stopwords_count],
                    index=['words', 'characters', 'punctuation', 'subject_1', 'uppercase_letters', 'stopwords'])

In [32]:
yelp_df.head()

,User_id,Product_id,Rating,Date,Review,label,Sentiment,Features
0,923,0,3,2014-01-30,The food at snack is a selection of popular Gr...,1,Positive,"['appetizer tray', 'greek salad', 'main courses']"
1,924,0,3,2011-05-05,This little place in Soho is wonderful. I had ...,1,Positive,"['little place', 'soho', 'lamb sandwich', 'soh..."
2,925,0,4,2011-12-30,ordered lunch for 15 from Snack last Friday. Ã...,1,Positive,"['snack', 'regular company lunch list']"
3,926,0,4,2012-10-04,This is a beautiful quaint little restaurant o...,1,Positive,"['beautiful quaint', 'pretty street', 'great p..."
4,927,0,4,2014-02-06,Snack is great place for a Ã‚Â casual sit down...,1,Positive,"['snack', 'great place', 'Ã¢ casual', 'cold wi..."

In [33]:
yelp_df[['words', 'characters', 'punctuation', 'subject_i', 'uppercase_letters', 'stopwords']] = yelp_df.apply(calculate_metrics, axis=1)

In [34]:
yelp_df.head()

,User_id,Product_id,Rating,Date,Review,label,Sentiment,Features,words,characters,punctuation,subject_i,uppercase_letters,stopwords
0,923,0,3,2014-01-30,The food at snack is a selection of popular Gr...,1,Positive,"['appetizer tray', 'greek salad', 'main courses']",170,215,6,0,6,81
1,924,0,3,2011-05-05,This little place in Soho is wonderful. I had ...,1,Positive,"['little place', 'soho', 'lamb sandwich', 'soh...",208,269,10,1,6,101
2,925,0,4,2011-12-30,ordered lunch for 15 from Snack last Friday. Ã...,1,Positive,"['snack', 'regular company lunch list']",146,184,5,1,8,67
3,926,0,4,2012-10-04,This is a beautiful quaint little restaurant o...,1,Positive,"['beautiful quaint', 'pretty street', 'great p...",392,497,14,4,12,194
4,927,0,4,2014-02-06,Snack is great place for a Ã‚Â casual sit down...,1,Positive,"['snack', 'great place', 'Ã¢ casual', 'cold wi...",487,611,18,1,20,215

In [36]:
yelp_df.describe()

,User_id,Product_id,Rating,Date,label,words,characters,punctuation,subject_i,uppercase_letters,stopwords
count,355210.000000,355210.000000,355210.000000,355210,355210.000000,355210.000000,355210.000000,355210.000000,355210.000000,355210.000000,355210.000000
mean,54016.107489,460.646674,3.604355,2012-11-30 06:17:35.037865216,0.101723,435.829585,555.749382,17.769880,2.349683,17.690693,203.945477
min,923.000000,0.000000,1.000000,2011-03-01 00:00:00,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,13834.000000,247.000000,3.000000,2012-01-16 00:00:00,0.000000,133.000000,169.000000,4.000000,0.000000,4.000000,62.000000
50%,40531.500000,468.000000,4.000000,2012-11-30 00:00:00,0.000000,302.000000,385.000000,12.000000,1.000000,11.000000,141.000000
75%,87641.000000,672.000000,5.000000,2013-10-16 00:00:00,0.000000,584.000000,746.000000,24.000000,3.000000,23.000000,273.000000
max,161147.000000,922.000000,5.000000,2014-08-31 00:00:00,1.000000,4305.000000,5933.000000,637.000000,60.000000,1410.000000,1970.000000
std,45871.499377,260.531902,1.365950,NaN,0.302284,448.135441,572.285997,20.724481,3.267840,23.045282,209.757226

In [37]:
label_comparison = yelp_df.groupby('label')[['words', 'characters', 'punctuation', 'subject_i', 'uppercase_letters', 'stopwords']].mean()

In [38]:
print("\nComparison between correct (0) and fake (1) reviews:\n", label_comparison)

Comparison between correct (0) and fake (1) reviews:
             words  characters  punctuation  subject_i  uppercase_letters  \
label
0      450.074104  574.017522    18.435168   2.429357          18.221420
1      310.041569  394.430271    11.894971   1.646113          13.004041

        stopwords
label
0      210.667394
1      144.586749